/backend/vendor/
/backend/storage/app
/frontend/node_modules/
/frontend/.next
/bk
backend/public/
backend/storage/logs/laravel.log
backend/storage/logs/laravel.log
backend/_serve_restore.log
backend/storage/framework/views/d676dc8fd50f3d86a3d63f97750640b8.php
